<div class="favourite-page-title-wrap">
  <svg width="14" height="18" class="favourite-page-icon">
    <use xlink:href="assets/favourite.svg#favourite"></use>
  </svg>
  <span class="favourite-page-title">Избранное</span>
</div>

<div class="favourite-page-recipes">
  <recipe-preview *ngFor="let id of [1,2]"
                  [description]="recipeInfo.description"
                  [image]="recipeInfo.image"
                  [isFavourite]="recipeInfo.isFavourite"
                  [time]="recipeInfo.time"
                  [type]="recipeInfo.type"
                  [title]="recipeInfo.title"
                  [isVegan]="true">
  </recipe-preview>
</div>
