<div class="favourite-page-title-wrap">
  <svg width="14" height="18" class="favourite-page-icon">
    <use xlink:href="assets/favourite.svg#favourite"></use>
  </svg>
  <span class="favourite-page-title">Избранное</span>
</div>

<div class="favourite-page-recipes">
  <recipe-preview *ngFor="let favorite of favorites"
                  [recipeId]="favorite.recipe_id"
                  [description]="favorite.recipe_description"
                  [image]="favorite.recipe_preview"
                  [time]="favorite.recipe_time"
                  [type]="favorite.type_name"
                  [title]="favorite.recipe_title"
                  [isVegan]="favorite.recipe_isVegan">
  </recipe-preview>
</div>
