<div class="find-page-input-wrap">
  <input class="find-page-input">
  <button *ngIf="showFindIcon" class="find-page-input-icon" (click)="toggleInputIcon()">
    <svg width="22" height="23">
      <use xlink:href="assets/find.svg#find"></use>
    </svg>
  </button>
  <button *ngIf="!showFindIcon" class="find-page-input-icon" (click)="toggleInputIcon()">
    <svg width="23" height="24">
      <use xlink:href="assets/settings2.svg#settings2"></use>
    </svg>
  </button>
  <div class="find-page-settings-wrap" [class.hidden-settings]="!showFindIcon">
    <div class="find-page-filter-shields">
      <filter-shield color="blue" text="Кальмар" class="find-page-filter-shield"></filter-shield>
      <filter-shield color="blue" text="Кальмар" class="find-page-filter-shield"></filter-shield>
    </div>
    <div class="find-page-settings">
      <div>
        <span class="find-page-settings-text">Ингредиент в блюде</span>
        <div class="find-page-settings-list">
          <mat-checkbox *ngFor="let ingredient of ingredients" class="find-page-settings-list-item" [value]="ingredient">
            {{ingredient}}
          </mat-checkbox>
        </div>
      </div>
      <div>
        <span class="find-page-settings-text">Тип блюда</span>
        <div class="find-page-settings-list types-list">
          <mat-checkbox *ngFor="let type of types" class="find-page-settings-list-item" [value]="type">
            {{type}}
          </mat-checkbox>
        </div>
        <div class="find-page-settings-time">
          <span class="find-page-settings-text">Готовится до</span>
          <input class="find-page-settings-input">
          <span class="find-page-settings-text">min</span>
        </div>
        <mat-checkbox class="find-page-settings-text">Вегетарианское блюдо</mat-checkbox>
      </div>
    </div>
  </div>

</div>

<div class="find-page-recipes-wrap">
  <recipe-preview *ngFor="let id of [1,2]"
                  [description]="recipeInfo.description"
                  [image]="recipeInfo.image"
                  [isFavourite]="recipeInfo.isFavourite"
                  [time]="recipeInfo.time"
                  [type]="recipeInfo.type"
                  [title]="recipeInfo.title"
                  [isVegan]="true">
  </recipe-preview>
</div>
